<%= link_to "Back to all movies", movies_path %>

<%= paginate @users %>


<table style="width:300px">
<tr>
  <th>Firstname</th>
  <th>Lastname</th> 
  <th>Email</th>
</tr>
<tr>
	<% @users.each do |user| %>
  <td><%= user.firstname %></td>
  <td><%= user.lastname %></td> 
  <td><%= user.email %></td>
  </tr>
 	<% end %>

</table>